
span{
	font-family: helvetica;
	font-size: 20px;
	vertical-align: bottom;
}

#panelInfoFlexCon{
	flex-wrap: wrap;
	display:flex;
	flex-direction: row;
	justify-content: center;
}

.panelParent{
	width: 70vw;
	margin: 8px auto;
	display: block;
	padding: 0px;
}

.panelResize{
	max-height: 73vh;
	overflow-y: scroll;
	transition: max-height 0.8s ease-in-out;
}

.panelHeaderTitle{
	margin-left: 0px;
	user-select: none;
	padding: 8px;
	cursor: pointer;
}

.profileUl{
	list-style: none;
}

.profileLi{
	font-family: helvetica;
	margin: 8px;
}

.linkBought{
	margin-right: 10%;
	padding-left: 16px;
	display: block;
}
.linkBought:hover{
	text-decoration: none;
}
.boughtApi{
	backface-visibility: hidden;
	display: flex;
	margin-bottom: 32px;
	transition: transform 0.18s ease-in;
	cursor: pointer;
	transform-origin: 0% 50%;
}

.boughtApi:hover{
	transform: scale(1.1);
	margin-bottom: 32px;
}


.editButton{
	margin-left: 16px;
	padding: 10px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: white;
	cursor: pointer;
	background-image: url("../img/pen.svg");
}




.liInfo{
	font-weight: bold;
	font-family: helvetica;
	display: block;
}

.apiImageBought{
	display: inline-block;
	width: 48px;
	height: 48px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.apiBoughtTitleDesc{
	display:inline-block;
}

.minmaxIcon{
	display: inline-block;
	float:right;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: white;
	cursor: pointer;
}


.minPanelIcon{
	background-position: center;
	background-size: 65%;
	background-image: url("../img/minus.svg");
}

.maxPanelIcon{
	background-position: center;
	background-size: 55%;
	background-image: url("../img/plus.svg");
}

.panelContent{

}


.userInfoInput{
	font-size: 24px;
	margin: 4px;
	width: auto;
	display: inline-block;
	border:none;
}

.userInfoInputActive{
	font-size: 24px;
	margin: 4px;
	border: solid 1px gray;
	width: auto;
	display: inline-block;
}

.userInfoInputError{
	margin: 4px;
	border: solid 1px red;
	width: auto;
	display: inline-block;
}

#errorMessage{
	margin: 8px;
	font-family: helvetica;
	color: red;
}

#submitEditedInfo{
	font-size: 17px;
	padding: 8px;
	margin: 20px auto;
	display: block;
}


#welcomeHeader{
	width: 70vw;
	margin: 0px auto;
}


#boughtListerUl{
	
}


@media screen and (max-width: 800px){
	.panelParent{
		width: 100%;
	}
	.profileUl{
		width:85%;
		margin: 0px auto;
	}
}


