

.rowContainer{
	display: block;
	margin-top: 16px;
	margin-bottom: 16px;
}

.rowFlexContainer{
	display:flex;
	flex-direction: row;
}
.rowTitle{
	background-color: white;
	border: solid 2px purple;
	font-family: Pebble;
	font-weight: bold;
	font-size: 24px;
	padding:4px;
	color:purple;
	display:inline-block;
	margin: 8px;
}

.rowButton{
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	flex: 0;
	padding: 32px;
	display: flex;
	background-color:transparent;
	cursor: pointer;
}

.rowButton:hover{
	transform: scale(1.2);
}

.middleScrollingContainer{
	width:100%;
	padding-top: 64px;
	padding-bottom: 64px;
	display: flex;
	overflow:hidden;
}

.apiTransitionWrapper{
	display:flex;
	flex-direction: row;
	transition: margin 0.15s ease-out;
}

.apiBox{
	border-radius: 5px;
	flex-shrink: 0;
	overflow: hidden;
	width: 200px;
	height: 200px;
	outline: solid 5px purple;
	margin: 8px;

	background-color:white;
	background-repeat: no-repeat;
	background-size: cover;

	cursor: pointer;

	transition: transform 0.065s ease-out;
}

.apiBox:hover{
	transform: scaleX(1.15) scaleY(1.15);
	z-index: 100;
}

.titleDescContainer{
	box-shadow: 0px 0px 32px 0px rgba(255,255,255,0.4);
	background-color: rgba(255, 255, 255, 0.35);
	font-family: Helvetica;
}
.apiTitle{
	padding:4px;
	font-family: Pebble;
	font-weight: bold;
	display:block;
}
.apiDescription{
	padding:4px;
	height: 80%;
	width: 50%;
	overflow:hidden;

}