#myDIV {
    width: 8%;
    padding: 68px 0;
    text-align: center;
    background-color: transparent;
    margin-top: 102px;
	margin-right:auto;
    margin-left:auto;
	transform: translate(-285%, -85%);
	 color: #b675d8; 
	 font-family: Helvetica;
	 font-size: 34px;
	 
}
	
	
	
#myDIV3 {
    width: 35%;
    padding: 54px 0;
    text-align: center;
    background-color: white;
    margin-top: 20px;
	margin-right:auto;
    margin-left:auto;
	top: 16%;
        left: 52%;
        margin-right: -24%;
        transform: translate(-74%, -77%);
		width: 648px;
    height: 311px;
    padding: 36px; 
	
}

.button111 {
    background-color: #b675d8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}