

p.three {
    border-style: dotted;
    border-width: 2px;
	 box-sizing: content-box;    
    width: 648px;
    height: 311px;
    padding: 36px;    
    border: 2px solid #29503e;
	 position: absolute;
        top: 16%;
        left: 52%;
        margin-right: -24%;
        transform: translate(-74%, -77%);
}
p.three2 {
    border-style: dotted;
    border-width: 2px;
	 box-sizing: content-box;    
    width: 648px;
    height: 311px;
    padding: 36px;    
    border: 2px solid #29503e;
	 position: absolute;
        top: 16%;
        left: 52%;
        margin-right: -24%;
        transform: translate(-74%, -63%);
}
p.three1 {
    border-style: dotted;
    border-width: 2px;
	 box-sizing: content-box;    
    width: 633px;
    height: 496px;
    padding: 36px;    
    border: 2px solid #29503e;
	 position: absolute;
        top: 16%;
        left: 52%;
        margin-right: -24%;
        transform: translate(-69%, -50%);
}

p.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

    .Table
    {
        display: table;
    }
    .Title
    {
        display: table-caption;
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }
    .Heading
    {
        display: table-row;
        font-weight: bold;
        text-align: center;
    }
    .Row
    {
        display: table-row;
		  
    }
    .Cell
    {
	transform: translate(502%, -103%);
        display: table-cell;
        border: double;
        border-width: thin;
		width: 106px;
       height: 158px;
       padding:+0px; 
	   color: #b675d8;

    }
	
	
