.Account {
    font-family:Helvetica; 
    margin:0 auto;
    font-size:14px;
    border:1px solid #542437;
    border-radius:10px;
    width:611px;
    padding:10px;
    background:#fff;
	
}
.Account ul {
    list-style:none;
    margin:0;
    padding:0;    
}
.Account li {
    margin:0;
    padding:0;
}
.Account [type=radio], .Account [type=checkbox] {
    display:none;
}
.Account label {
    display:block;
    font-size:16px;
    line-height:16px;
    background:#8B8F7E33;
    border:1px solid #542437;
    color:#0c0b0b;
    text-shadow:4px 3px 1px rgba(255,255,255,0.3);
    cursor:pointer;
    text-transform:uppercase;
}
.Account ul li label:hover, .Account [type=radio]:checked ~ label, .Account [type=checkbox]:checked ~ label {
    background:#e9e2f7;
    color:#0c0b0b;
    text-shadow:1px 1px 1px rgba(0,0,0,0.5)
}
.Account .content {
    padding:0 10px;
    overflow:hidden;
    border:1px solid #fff;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
}
. p {
    color:#333;
    margin:0 0 10px;
}
.Account h4 {
    color:#542437;
    padding:0;
    margin:10px 0;
}

h1 {
    position: absolute;
    font-family: Helvetica;
    font-size: 24px;
    position: relative;
    margin-left: 1%;
    color: #222c;
    left: 4px;
    top: 19px;
    text-align: justify;
    line-height: 180%;
}

.vertical ul li {
    overflow:hidden;
    margin:0 0 1px;
}
.vertical ul li label {
    padding:10px;
}
.vertical [type=radio]:checked ~ label, .vertical [type=checkbox]:checked ~ label {
    border-bottom:0;
	
}
.vertical ul li label:hover {
    border:1px solid #542437;
}
.vertical ul li .content {
    height:0px;
    border-top:0;
    transition: all .5s ease-out;
}
.vertical [type=checkbox]:checked ~ label ~ .content {
    height:308px;
    border:1px solid #542437;
}



/************************************
		Table for bought items
************************************/

.tableInfoBox {
		position: relative;
		font-family: Helvetica Neue,helvetica,arial,sans-serif;
		border-collapse: collapse;
		width: 45%;
		max-width: 96%;
	    height: 0px;
        width: 68%;
        left: 6px;
		top:  20px;
		
	}

td, th {
		
		border: 1px solid #a6d8a8;
		padding: 8px;
		max-width: 96%;
		
	}
	
.button {
position: relative;
background-color: #c0c0b833;
border: none;
color: black;
padding: 14px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
font-family: Helvetica;
height: 19px;
width: 16%;
left: 6px;
top:  20px;
border: solid 1px #a6d8a8;
border-radius: 15px;
box-shadow: 0 5px #999;
}


.closeWindowButton12 {
    position: relative;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: #ffffff;
    background-image: url('../img/close.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 11px;
    left: 529px;
    top: -24px;
}


.closeWindowButton12:after,.:after {
    content: 'n';
  
    width: 15px;
    display: block;
    margin-top: 18px;
    transition: 0.3s;
}

.closeWindowButton12:after {
    transform: rotate(90deg);
    margin-top: -2px;
}



input:checked ~ label .closeWindowButton12:after {
	position: relative;
    content: url('../img/open.png');
	 width: 30px;
    height: 30px;
	left: -15px;
    top:  -11px;
	content:size: 300px 100px;
}






