

	
	body {
	  color: #black;
	  background: #ecf0f1;
	  font-family: Helvetica 
	}
	
	h1 {
	  position: absolute;
	  font-family: Helvetica;
      font-size: 20px;
      position: relative;
      margin-left: 1%;
      color: #22222280;
      left: 4px;
      top: 2px;
      text-align: justify;
      line-height: 145%;
	}


	.half {
	  float: left;
	  width: 50%;
	  padding: 0 1em;
	}
	/************************************
		Page style.................
	************************************/
	
	.account {
	  position: relative;
	  margin-bottom: 1px;
	  width: 73%;
	  color: #fff;
	  overflow: hidden;
	  width: 1045px;
	  left: 124px;

	  
	}
	.account input {
	  position: absolute;
	  opacity: 0;
	  z-index: -1;
	}
	.account label {
		
	  position: relative;
	  display: block;
	  background:#c2c3c266;
	  color: #0f0f1799;
	  font-weight: bold;
	  line-height: 3;
	  cursor: pointer;
	  height: 55px;
	  left:494px;
	  font-family: Helvetica;
	  top: 12px;
	  width: 49%;
	}
	.blue label {
	  background: #2980b9;
	}
	
	.info {
	position: relative;
    background: #fff;
    color:#1b1b1b80;
    padding: 10px;
	font-family: Helvetica;
	 height: 207px;
	  width: 1062px;
	  left: 139px;

}

	.account-content {
	  max-height: 0;
	  overflow: hidden;
	  background: #ffffffb3;
	  -webkit-transition: max-height .35s;
	  -o-transition: max-height .35s;
	  transition: max-height .35s;
	  color: #0f0f1799;
	  font-family: Helvetica;
	}
	.blue .account-content {
	  background: #3498db;
	}
	.account-content {
	  position: relative;
	  max-height: 0;
	  overflow: hidden;
	  background: #fff;
	  -webkit-transition: max-height .35s;
	  transition: max-height .35s;
	  height: 207px;
      width: 53%;
      left: 451px;
	  border: solid 1px #a6d8a8;
	  
	  
	}

	.account input:checked ~ .account-content {
	  max-height: 100vh;
	}

	.button {
	position: relative;
	background-color: #c0c0b833;
	border: none;
	color: black;
	padding: 14px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	font-family: Helvetica;
	height: 19px;
	width: 16%;
	left: 6px;
	top: 6px;
	border: solid 1px #a6d8a8;
	border-radius: 15px;
  box-shadow: 0 5px #999;
}

.account label::after {
  position: relative;
  right: 0;
  top: 0;
  display: block;
  width: 552px;
  height: 3em;
  line-height: -10;
  text-align: left;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
  border: solid 2px #9cc3bd;
  
  
	  

}
	
.account input[type=checkbox] + label::after {
  content: "+";
   content: url(/StoreFront/myAccount/img/plus.png);
 
  position: absolute;

  left: -43px;
}

.account input[type=checkbox]:checked + label::after {
 content: url(/StoreFront/myAccount/img/min.png);
}

	
.headerButton1:hover {
background-color: #ded4f4 

}

.headerButton2:hover {
background-color:#ded4f4 

}

.headerButton3:hover {
background-color: #ded4f4 

}

.headerButton4:hover {
background-color: #ded4f4 

}
.headerButton5:hover {
background-color: #ded4f4 

}
	
	/************************************
		Table for bought items
	************************************/

	.tableInfoBox {
		position: relative;
		font-family: Helvetica Neue,helvetica,arial,sans-serif;
		border-collapse: collapse;
		width: 45%;
		max-width: 96%;
	    height: 76px;
        width: 68%;
        left: 6px;
		
	}

	td, th {
		
		border: 1px solid #a6d8a8;
		padding: 8px;
		max-width: 96%;
		
	}


	/************************************
		Table for bought items
	************************************/

	

	
	#foo, .flip {
	position: relative;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    background-color: #FEFEFE;
    color: white;
    border: solid 1px #a6d8a8;
    right: 0;
    top: 0;
	height: 207px;
	width: 51.1%;
    left:  451px;
	 
}


	h1 {
  animation: move 3s;
  -webkit-animation: move 3s;
}

@keyframes move {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
            
@-webkit-keyframes move {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


