.helpWindow{
    z-index: 190;
    position: fixed;
    width: 350px;
    height: 100%;
    background-color: white;
    right: 0px;
    margin-top: -111px;
    margin-right: -32px;
    box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.1);
    display: none;
    padding-top: 55px;
}

.posisionOfTheHelpWindow{
    text-align: center;	
    width:350px;
}

.questionText {
    padding: 8px 0px;
    font-size: 16px;
	color: #000000;
	background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s;
    border-top: 2px solid rgb(191, 96, 255);
    display:block;
    margin-right:30px;
    padding-right: 20px;
    padding-left:20px;
    margin-bottom:10px;
}


.questionText:hover {
    color: purple;
}

.answerText {
    display:none;
    text-decoration: none;
	color: #000000;
	background-color: rgb(255, 255, 255);
    display: block;
    cursor: pointer;
    transition: 0.3s;
    margin-right:30px;
    padding-right: 20px;
    padding-left:20px;
    margin-bottom:10px;
}

.closeWindowButton{
	padding: 10px;
	margin: 10px;
	cursor: pointer;
    background-color: #ffffff;
    background-image: url('../img/close.png');
	background-repeat: no-repeat;
	background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
}

.closeWindowButton:hover {
    width:33px;
    height:33px;
}

#infoTeliaUp {
    border-color: lightgray;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

#helpWindow {
	display: none;
}

.error {
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3;
}

.error-test{
	box-shadow: 0 0 4px 2px #ff9999;
}

@-webkit-keyframes shake {
	0% { left: -5px; }
	50% { right: -5px; }
	100% { right: 0px; }
}