#secondHead{
	z-index: 200;
	display:flex;
	flex-wrap: nowrap;
	flex-direction:row;
	width:100%;
	background-color:white;
	align-items: center;
	/*border-top: 1px solid grey;*/
}

#trolley {
	height: 20px;
	display:none;
	padding: 14px;
	background-image: url('../img/trolley.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
	flex-direction: column;
}

#helpContact {
	height: 20px;
	display:flex;
	margin-left:3vw;
	padding: 14px;
	background-image: url('../img/contact.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
	flex-direction: column;
	margin-right:2vw;
}


.headerButton{
	background-color:transparent;
	margin-left:4vw;
	display:flex;
	cursor:pointer;
	padding: 10px;
    font-size: 16px;
	border-radius: 4px;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#searchBar{
	background-color: #e8e8e8;
	border-radius: 5px;
	padding: 6px;
	margin-left: 20vw;
	max-height: 32px;
	display:flex;
	margin-right:3vw;
	flex:1;
}

#searchIcon{
	display: flex;
	background-image: url('../img/search.svg');
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
	width: 20px;
	height: auto;
	cursor:pointer;
	
}


.dropbtn {
    background-color: transparent;
    -webkit-transition-duration: 0.5s; 
    transition-duration: 0.5s;
    padding: 10px;
    font-size: 16px;
	border-radius: 4px;
	cursor:pointer;
}


.dropdown {
	position: relative;
	flex-direction: column;
}

.dropdown-content {
	flex:1;
	overflow: hidden;
	height: 0px;
	flex-direction: column;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.15);
	z-index: 1;
	transition: height 0.37s ease-out;
	margin-left:63px;
}


.dropdownButton {
	display:flex;
	cursor:pointer;
    color: black;
    padding: 12px 16px;
	text-decoration: none;
	background-color:transparent;
    font-size: 16px;
	width:100%;
}


.dropdownButton:hover {
	background-color: black;
	color: white;
}

.dropdown:hover .dropdown-content {
	height: 192px;
}

.headerButton:active, .dropdown:hover .dropbtn:active {
	transform: translateY(4px);
}

.headerButton:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 500px){
	.headerButton{
		display: none;
	}
	.dropdown{
		display: none;
	}
	#searchBar{
		display: none;
	}
	#userIcon{
		margin-left: 200px;
	}
}

@media only screen and (max-width: 600px){
	.headerButton{
		display: none;
	}
	.dropdown{
		display: none;
	}

}

@media only screen and (max-width: 1100px){
	.headerButton{
		display: none;
	}
}
