/*Site defined color variables*/
:root {
    --back-color: #6a3787;
    --hover-color: #7e5899;
    --active-color: #ba99c3;
}


*{
	margin: 0;
	padding: 0;
	border: 0;
}

@font-face{
	font-family: Pebble;
	src: url(../TeliaPebbleFont.woff);
}
html{
	width: 100%;
	height: 100%;
	overflow-x:hidden;
}
input{
	width:100%;
	background-color: transparent;
}
body{
	background-color:#f1f1f1;
	width: 100%;
	/* Enable hardware acceleration to fix laggy transitions 
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);*/
}
span{
	font-family: helvetica;
}

pre{
	white-space: pre-wrap; 
	word-break: break-all;
}
#contentID {
	margin-top:148px;
}

button{
	font-family: Helvetica Neue,helvetica,arial,sans-serif;
	font-size: 14px;
}

button:focus{
	outline: none;
	border: none;
}

h1{
	font-family: Helvetica Neue,helvetica,arial,sans-serif;
	color: #222;
	font-weight: 400;
	/*margin-left: 10%;*/
}
h2{
	/*margin-left: 10%;*/
	font-family: Helvetica Neue,helvetica,arial,sans-serif;
	color: #222;
	font-weight: 400;
}
h4{
	font-family: Helvetica Neue,helvetica,arial,sans-serif;
	color: #222;
	display:inline;
}

p{
	font-family: Helvetica Neue,helvetica,arial,sans-serif;
	margin-top: 8px;
}

a{
    display:inline-block;
    margin-top: 4px;
	font-family: Helvetica Neue,helvetica,arial,sans-serif;
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: underline;
}



.strongButton{
	background-color: var(--back-color);
	color:white;
	padding:8px;
	border-radius: 32px;
	cursor:pointer;
	transition: background-color 0.16s ease-in, transform 0.01s ease-in;
}

.strongButton:hover{
	background-color: var(--hover-color);
}

.strongButton:active{
	transform: scale(0.9);
}
