#titleCategory {
	width:100%;
}

.contentRow{
	min-height: 300px;
	display:flex;
	flex-wrap: wrap;
}

#categoryTitle{
	display:block;
	font-size: 32px;
	display:inline-block;
	margin-top: 10px;
	margin-bottom:20px;
	margin-left:30px;
}

.apiBox{
	flex-shrink: 0;
	width: 307px;
	height: 216px;
	margin: 10px 15px;
	display:flex;
	cursor: pointer;	
	transform-origin: 0% 50%;
	transition: transform 0.4s ease, opacity 0.12s ease-out;
	transform: perspective(2000px) rotateY(90deg) scaleX(0.9) scaleY(0.9);
}

.apiBox:active{
	transform: scaleX(1.15) scaleY(1.15);
}

.apiBox:hover{
	transform: scaleX(1.15) scaleY(1.15);
	text-decoration: none;
	z-index: 100;
}

.apiBackground{
	display:flex;
	background-color:white;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	flex: 3;
}

.apiTitle{
	z-index: 5;
	background-color: rgba(255, 255, 255, 0.8);
	padding:4px;
	font-size: 20px;
	font-family: Helvetica Neue,helvetica,arial, sans-serif;
	font-weight: bold;
	display:flex;
	flex:1;
	flex-shrink: 0;
}

.apiDescription{
	word-break: break-all;
	margin: 0px auto;
	z-index: 5;
	display:flex;
	flex: 2;
	background-color: rgba(255, 255, 255, 0.8);
	font-family: Helvetica;
	padding:4px;
	font-size: 18px;
	overflow:hidden;
}


.titleDescContainer{
	background-color:white;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

	display: flex;
	flex:1;
	flex-direction: column;

	width: 300px;
	height: 300px;

	padding: 8px;
	transition: transform 0.12s ease-out, opacity 0.12s ease-out, transform 0.2s ease-out, box-shadow 0.2s ease-out;

	-webkit-box-shadow: 0px 10px 32px -12px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 10px 32px -12px rgba(0,0,0,0.15);
	box-shadow: 0px 10px 32px -12px rgba(0,0,0,0.15);
}


#searchedCategory{
	font-family: helvetica;
	justify-content: center;
}
