#sandboxArrowLeft{
	margin-left: 48px;
	padding: 64px;
	background-image: url("../img/arrowLeft.svg");
	background-size: contain;
	background-repeat: no-repeat;
}

.sandboxMinMaxButton{
	margin-right: 16px;
	width: 24px;
	height: 24px;
	margin: 2px;
	padding: 8px;
	cursor:pointer;
	border-radius: 50%;
	background-color: white;
	transition: transform 0.1s ease-in, box-shadow 0.1s ease-in;
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: center;
}

.sandboxMinMaxButton:hover{
	box-shadow: 0px 10px 17px -7px rgba(0,0,0,0.24);
	transform: scale(1.15);
}