.swaggerInfoCon{
	border: solid 1px blue;
}

.swaggerDescription{
	
}

.swaggerPathName{
	display: inline-block;
}

.swaggerResultsWindow{
	margin: 16px;
	display: block;
	height: 128px;
	padding: 8px;
	background-color:#fcfcfc;
	border: solid 1px #d37f7f;
}

#swaggerPatchInfo{
	display:flex;
	flex-direction: column;
	flex:1;
}

.swaggerAreaForInput{
	/*margin-bottom: 16px;*/
}

.swaggerBack1{
	padding: 8px;
	background-color: #fbfbfb;
}

.swaggerBack2{
	padding: 8px;
	background-color: #e8e8e8;
}


.swaggerInput{
	color: gray;
	font-family: monospace;
	background-color: white;
	display:block;
	width: 90%;
	padding: 2px;
	border:solid 1px gray;
	margin: 4px;
}

.swaggerEnum{
	color: red;
	font-family: monospace, courier-new, courier;
	font-size: 11px;
	margin-bottom: 4px;
}

.swaggerPathCon{
	display: block;
}

.swaggerPathType{
	display: inline-block;
}


.parListRow{
	display: flex;
	flex-direction: row;
}

.parListLeft{
	text-align: center;
	margin-bottom: 8px;
	margin-top: 8px;
	margin-right: 64px;
}

.swaggerMediumText{
	font-family: helvetica;
}

.parListName{
	display:block;
}
.parListType{
	font-weight: bold;
	font-size: 12px;
	font-family: courier;
	display:block;
}
.parListIn{
	font-size: 12px;
	font-family: monospace;
	display:block;
	color: gray;
}

.parListRight{
	margin-bottom: 8px;
	margin-top: 8px;
}


.buttonSwagger{
	cursor: pointer;
	margin: 0px auto;
	margin-top: 48px;
	font-family: helvetica;
	width: 116px;
	text-align: center;
	display: block;
}

.swaggerAsterix{
	color: red;
	font-family: monospace, helvetica;
	font-weight: bold;
	display: inline;
}

.swaggerSubtitle{
	font-size: 12px;
	font-family: monospace;
	display:block;
	color: gray;
}

.swaggerLister{
	padding: 8px;
	border: solid 1px #e8e8e8;
	margin: 0px auto;
	width: 90%;
	margin-bottom: 16px;
}

#swaggerMinimize{
	width: 32px;
	height: 32px;
	margin: 2px auto;
	cursor: pointer;
	background-image: url('../img/arrowBack.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition: transform 0.24s ease-in;
}



