.swaggerInfoCon{
	border: solid 1px blue;
}

.swaggerDescription{
	
}

.swaggerPathName{
	display: inline-block;
}

#swaggerResultsWindow{
	overflow-y: scroll;
	word-break: break-all;
	font-family: monospace;
	font-size: 13px;
	width: 90%;
	margin: 16px auto;
	display: block;
	height: 200px;
	resize:vertical;
	padding: 8px;
	background-color:white;
	border: solid 1px var(--back-color);
}

#swaggerPatchInfo{
	padding: 8px;
	display:flex;
	flex-direction: column;
	flex:1;
}

.swaggerAreaForInput{
	width: 100%;
	overflow: hidden;
	/*margin-bottom: 16px;*/
	border-left: dotted 3px rgba(0, 0, 0, 0.6);
}

.swaggerBack1{
	padding: 16px;
	background-color: white;
}

.swaggerBack2{
	padding: 16px;
	background-color: #e8e8e8;
}

.swaggerInput{
	color: gray;
	font-family: monospace;
	background-color: white;
	display:block;
	width: 90%;
	padding: 6px;
	border-radius: 6px;
	border:solid 1px #e8e8e8;
	margin: 4px;
	box-shadow: 0px 2px 24px -6px rgba(0,0,0,0.12);
}

.inputDescription{
	font-family: monospace;
	font-size: 16px;
	color: #2e2e2e;
	margin-bottom: 8px;
}

.swaggerEnum{
	color: red;
	font-family: monospace, courier-new, courier;
	font-size: 15px;
	margin-bottom: 4px;
}

.swaggerPathCon{
	display: block;
}

.swaggerPathType{
	display: inline-block;
}


.parListRow{
	display: flex;
	flex-direction: row;
}

.parListLeft{
	word-break: keep-all;
	text-align: center;
	margin-bottom: 8px;
	margin-top: 8px;
	margin-right: 16px;
}

.swaggerMediumText{
	font-size: 18px;
	font-family: helvetica;
}

.parListName{
	word-break:break-word;
	display:block;
	max-width: 128px;
}
.parListType{
	font-weight: bold;
	font-size: 16px;
	font-family: courier;
	display:block;
}
.parListIn{
	font-size: 12px;
	font-family: monospace;
	display:block;
	color: gray;
}

.parListRight{
	flex: 1;
	/*margin-bottom: 48px;*/
	margin-top: 8px;
}


.buttonSwagger{
	cursor: pointer;
	margin: 0px auto;
	margin-top: 48px;
	font-family: helvetica;
	word-break: keep-all;
	width: 132px;
	text-align: center;
	display: block;
}

.swaggerAsterix{
	position: absolute;
	margin-left: -8px;
	color: red;
	font-family: monospace, helvetica;
	font-weight: bold;
	display: inline;
}

.swaggerSubtitle{
	font-size: 18px;
	font-family: monospace;
	display:block;
	color: gray;
	margin-bottom: 16px;
}

.swaggerTitle{
	word-break: break-all;
	font-size: 18px;
	font-weight: bold;
	font-family: helvetica;
}

.swaggerLister{
	padding: 8px;
	border: solid 1px #e8e8e8;
	margin: 16px auto;
}

#swaggerMinimize{
	width: 32px;
	height: 32px;
	margin: 2px auto;
	cursor: pointer;
	background-image: url('../img/arrowBack.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	transition: transform 0.24s ease-in;
}


#fileSystemTitle{
	pointer-events: none;
	display:block; 
	position: absolute; 
	margin-top: -24px;
	margin-left: 8px;
	font-family: helvetica;
}

#swaggerFileSystemContainer{
	box-shadow: 0px 0px 76px -17px rgba(0,0,0,0.55);
}

.sandBoxResponseLoading{
	color: #16547c;
}
.sandBoxResponseInfo{
	color: #7c6c16;
}
.sandBoxResponseError{
	color:  #7c162d;
}
.sandBoxResponseText{
	color: #1c1c1c;
}
.sandBoxResponseErrorText{
	color: #1c1c1c;
	border: solid 1px black;
	padding: 8px;
	background-color: white;
}
